.SearchInput {
  align-items: center;
  background: #323232;
  border-radius: 7px;
  color: #bab3b3;
  height: 32px;

  input {
    background: #323232;
    height: 32px;
    padding: 0;
    padding-left: 0 !important;
  }
}
