.Button {
  width: 251px;
  padding: 14px 0;
  text-align: center;
  border-radius: 3px;
}

.Button.blue {
  background: #6372fb;
  color: #fff;
}

.Button.white {
  background: #fff;
  color: #6372fb;
}
