$white: #fff;
$blue: #6372fb;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeSpeed;
}

html:focus-within {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

ul,
ol {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Averta';
  src: url('./fonts/AvertaCY-Regular.ttf') format('truetype');
}

* {
  font-family: 'Averta' !important;
}

body {
  background: #121212;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.markedText {
  color: $blue !important;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 36px;
  line-height: 42.26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

p {
  margin: 0;
  padding: 0;
}

.layout {
  margin: 0 auto;
  max-width: 300px;
  width: 300px;

  color: $white;
}

.WithMenuComponent {
  display: grid;
  grid-template-rows: max-content 90px;
  align-content: space-between;
  height: 100vh;
  row-gap: 50px;
}

.notify {
  position: absolute;
  min-width: 250px;
  top: 10px;
  right: 10px;
  padding: 25px 15px;
  background: #252525;
  border-radius: 5px;

  &.error {
    .title {
      color: red;
    }
  }

  &.success {
    .title {
      color: green;
    }
  }

  .title {
    font-weight: bold;
    font-size: 14px;
  }

  .subTitle {
    font-size: 12px;
  }
}
