.LoginPage,
.SignupPage,
.MainPage {
  width: 250px !important;
}

.MainPage {
  height: 100%;
  display: grid;
  grid-template-rows: 10fr 1fr;
  align-items: center;
  gap: 20px;
}

.LoginPage {
  max-height: 100vh;
  display: grid;
  grid-template-rows: 180px 1fr 1.4fr;
  .LoginForm {
    display: grid;
    grid-template-rows: min-content min-content 200px;
    gap: 10px;
    margin: 0 auto;

    div {
      width: 250px;
    }
    button {
      width: 250px;
    }
  }
}

.SignupPage {
  max-height: 100vh;
  display: grid;
  grid-template-rows: 150px 150px;
  .SignupForm {
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content 200px;
    gap: 10px;
    button {
      align-self: end;
    }
  }
}
