.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .purpose {
      grid-area: purpose;
    }
    .before {
      grid-area: before;
    }
    .after {
      grid-area: after;
    }
    .curBefore {
      grid-area: curBefore;
    }
    .curAfter {
      grid-area: curAfter;
    }
    .rate {
      grid-area: rate;
    }
  }
}
