.Tabs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  .titlesContainer {
    display: flex;
    overflow-x: auto;
    padding: 5px 0;
    gap: 20px;
  }

  .title {
    min-width: max-content;
    width: max-content;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    &.isActive::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background: #6372fb;
      border-radius: 2px;
    }
  }

  .Tab {
  }
}
