.ListWithFilters {
  width: 300px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px max-content;
  margin: 0 auto;

  .Filters {
    display: flex;
    align-items: center;
    gap: 30px;

    .FilterPopup {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .List {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
